meta   
{
	title: "Simple building tags";
	author: "bdon"; 
	version: "0.0.1"; 
	description: "building heights";
	link: "http://foo";
	watch-modified: true;
}
	
       
area[building], area[building:part]
{
   z-index: 1;
   fill-opacity: 0.0; /* let the background, i.e. the roof, be recognizable */
	 fill-color: #0000ff;
}

area[building][height], area[building:part][height]
{
        fill-color: #00ff00;
}

setting::shrink_nodes {
  type: boolean;
  label: tr("Less obtrusive node symbols at low zoom");
  default: true;
}
